@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #f2f2f2;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

h3 {
  color: tomato;
}

p {
  line-height: 1.5;
}

img {
  width: 100%;
  display: block;
}

footer {
  text-align: center;
}
