*{
    box-sizing: border-box;
    margin: 0;
}

/*Text*/

h1{
    font-family: lust-script, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.75em;
    line-height: 1.3em;
}

h2{
    font-family: servus-slab, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.75em;
}

h3{
    font-family: servus-slab, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.3em;
}

body {
    font-family: servus-slab, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
}

/*Color changes*/

.pink{
    color: #b30050;
    margin: 1.5rem;
    
}

.blue{
    color: #004e74;
    margin: 1.5rem;
    
}

.purple{
    color: #3c0458;
    margin: 1.5rem;
}

.yellow{
    color: #c8ba00;
    margin: 1.5rem;
}

/*Images*/

img{
    display: block;
}

.logo{
    height: auto;
    width: 50%;
    margin-top: -3%;
    margin-left: -5%;
}

.ghost-cactus{
    width: fit-content;
    object-fit: contain;
}

.ghost-flower{
    height: auto;
    width: 49%;

    align-self: center;
}

.social-icons{
    width: 6rem;
    height: 6rem;
    padding: .5rem;
}

.image-banner{
    margin: 3rem;
    border-radius: 1rem;
    height: 70%;
}

/*Utility*/

.align-center{
    align-self: center;
    width: 70%;
}

/*Links & Navigation*/
a{
    text-decoration: none;
    color: white;
    font-family: lust-script, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
    line-height: 1.9em;
}

li:hover{
    width: 40rem;
    height: auto;
    padding: 1rem;
    border-bottom-left-radius: 1.2rem;
    border-top-left-radius: 1.2rem;
    background-color: #145f1f;
}

.nav-container{
    margin-top: -40%;
    padding-bottom: 9rem;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 1.3rem;
}

ul{
    list-style: none;
}


li a{
    padding: 1rem;
    width: 10rem;
    height: auto;
    border-bottom-left-radius: 1.2rem;
    border-top-left-radius: 1.2rem;
    background-color: #145f1f;
    transition: width 3s ease-in-out;
    transition-delay: 1s;
}

/*Layout for Desktop*/
.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: .5fr;
   

    background-color: yellow;
}

.item-one{
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    background-image: url("images/ghost-cactus.jpg");
    background-size: cover;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    height: 100%;
    border-bottom: #92c8ac solid 1.3rem;
}

.item-one-b{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    
    background-image: url("images/chihuahua-mountain.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-bottom: #92c8ac solid 1.3rem;
}

.item-one-c{
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    background-image: url("images/guadalajara-church.jpg");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border-bottom: #92c8ac solid 1.3rem;
    
}

.item-one-d{
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    background-image: url("images/yucatan-pyramid.jpg");
    background-size: contain;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border-bottom: #92c8ac solid 1.3rem;
}

.item-one-e{
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    background-image: url("images/guererro-man.jpg");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border-bottom: #92c8ac solid 1.3rem;
}


.item-two{
    grid-column: 1 / -1;
    grid-row: 2 / 3;

    background-color: red;
}


.item-three{
    grid-column: 1 / -1;
    grid-row: 3 / 4;

    padding-bottom: 1.5rem;
    background-color: #145f1f;
}

/*Section Items*/

.section-box-one{
    background-color: white;
    display: flex;
    justify-content: center;
}

.section-box-one-b{
   background-color: white;
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2.5rem;
}

.intro-box{
    background-color: #92c8ac;
    border-top-left-radius: 2rem;
    margin-left: -15%;
    padding: 4rem;
    padding-top: 9rem;
    margin-top: 4rem;
    align-self: stretch;
}

.quote-box{
    background-color: #d58594;
    border-radius: 1rem;
    width: 60%;
    height: 70%;
    margin: 3rem;
    margin-right: -5%;
    padding: 2rem;
    color: white;
    font-size: 1.8em;
    font-style: italic;

    align-self: flex-end;
}

.quote-box-b{
    background-color: #3a81a5;
    border-radius: 1rem;
    width: 60%;
    height: 70%;
    margin: 3rem;
    margin-right: -5%;
    padding: 2rem;
    color: white;
    font-size: 1.8em;
    font-style: italic;

    align-self: flex-end;
}

.quote-box-c{
    background-color: #9a89ad;
    border-radius: 1rem;
    width: 60%;
    height: 70%;
    margin: 3rem;
    margin-right: -5%;
    padding: 2rem;
    color: white;
    font-size: 1.8em;
    font-style: italic;

    align-self: flex-end;
}

.quote-box-d{
        background-color: #c8ba00;
        border-radius: 1rem;
        width: 60%;
        height: 70%;
        margin: 3rem;
        margin-right: -5%;
        padding: 2rem;
        color: white;
        font-size: 1.8em;
        font-style: italic;
    
        align-self: flex-end;
}

 /*Newsletter styling*/
.form-box{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    justify-items: center;
    padding-top: 3rem;
}
 
 .form-container{
     background-color: white;
     border-radius: 1rem;
     width: 100%;
     margin-left: 1rem;
     padding: 3rem;
}

 input [type=text], input[type=submit]{
    padding: .7rem;
    background-color: #145f1f;
    color: white;
    margin-left: .5rem;
    border-radius: .5rem;
    border: none;
 }

 input[type=submit]:hover{
    background-color: #92c8ac;
 }

/*Footer*/
.social-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text{
    text-align: center;
    padding: .5rem;
    color: white;
}



/*Grid for Mobile*/
